* {
	font-family: 'Adwaita Sans';
}

.module {
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-top: 1.5px;
}

window#waybar {
    background-color: rgba(23, 23, 27, 1);
    margin-left: 7.5px;
    margin-right: 7.5px;
}

#drun {
	padding-left: 100px;
}
